body {
	background-color: white;
	margin: 0;
	padding: 0;
}
.header1 {
	background-color: white;
	color: darkgreen;
	text-align: center;
	margin: 0;
	padding: 1em ;
}
#seccion {
	padding-top: 2em;
	padding-bottom: 1.5em;
	width: 100%;
	height: 300px;
	background-color: #9ccc65;
	ustify-content: center;
	align-items: center;
}
img{
	margin-right: 0;
	height: 290px;
	width: 450px;
	border-color: 1px black;
	float: left;
	margin-left: 2.1em;
}
.menu1 {
	height: 2em;
	width: 100%;
	background-color: #33691e;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}
.menu1 ul {
	border: 2px solid darkgreen;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu1 li {

	transition: 1s;
	padding: .5em 1em;
	color: black;
	cursor: pointer;
	background-color:#9ccc65;
}
.menu1 li:hover {
	background-color: #a20d0d;
	font-size: 20px;
	transition: 1s;
}
#seccion1{
	padding: 2em;
	font-size: 18px;
	margin-top: 2em;
	margin: auto;
	width: 90%;
	height: auto;
	background-color: #9ccc65;
	border-radius: 5px;
	text-align: center;
}
.iconos {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100%;
}

.iconos img {
	transition: 1s;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: none;
}
.iconos img:hover{
	transition: 1s;
	width: 60px;
	height: 60px;
}
.pie {
	margin-top: 10px;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #9ccc65;
}
#img1{
	position: absolute-right;
	margin-right: 10px;
	height: 100px;
	width: 100px;
	float: right;
}